<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Image Processing is Never been So easy </h1>
  </div>
</header>
<div class="col-md-12 custMargin">
  <div class="row">
    <div class="col-md-12 custPadding">
      <div class="col-md-6 rgtBorder">
        <div ui-view="viewA"></div>
      </div>
      <div class="col-md-6 leftBorder">
        <div ui-view="viewB"></div>
      </div>
    </div>
  </div>
</div>

<!--<button type="button" class="btn btn-success" ng-click="Processing.modalShowFunc()">Modal</button>


<div class="modalBg" ng-click="Processing.clearModal($event)" ng-if="Processing.modalShow">
  <div class="modals">
    <div class="cross" ng-click="Processing.clearModal($event)">
      x
    </div>
  </div>
</div>-->
